.loginContent {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: green;
  overflow: hidden;

  & h1 {
    padding-bottom: 15px;
    text-transform: uppercase;
  }
  & form {
    width: 50%;
  }

  & input {
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: 5px;
    text-transform: uppercase;
  }
  & input:last-child {
    display: block;
    width: 30%;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: rgba(192, 188, 188, 0.685);
    transition: 0.3s;
  }
  & input:last-child:hover {
    background-color: rgb(192, 188, 188);
  }
}
